*{
    margin: 0;
    padding: 0;
}

@media(max-width:768px){
    .body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

body{
    background-color: blue;
    color: white;
}

header{
    font-size: 25pt;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.textinho{
    font-size: 18pt;
    position: relative;
    margin-left: 10px;
}

.i1{
    height: 100px;
    width: 100px;
    margin: 10px;
    position: relative;
    right: 100px;
}

.i2{
    height: 100px;
    width: 100px;
    margin: 10px;
    position: relative;
    bottom: 120px;
    left: 100px;
}

.i3{
    height: 100px;
    width: 100px;
    margin: 10px;
    position: relative;
    right: 200px;
    bottom: 140px;
}

.gg{
    position: relative;
    bottom: 100px;
}

.i4{
    height: 100px;
    width: 100px;
    margin: 10px;
    position: relative;
    bottom: 260px;
    
}

.i5{
    height: 100px;
    width: 100px;
    margin: 10px;
    position: relative;
    bottom: 380px;
    left: 200px;
}

.i6{
    height: 100px;
    width: 100px;
    margin: 10px;
}

.i7{
    height: 100px;
    width: 100px;
    margin: 10px;
    position: relative;
    bottom: 400px;
    right: 200px;
}

.i8{
    height: 100px;
    width: 100px;
    margin: 10px;
    position: relative;
    bottom: 420px;
    right: 100px;
}

.i9{
    height: 100px;
    width: 100px;
    margin: 10px;
    position: relative;
    bottom: 440px;
}

.i10{
    height: 100px;
    width: 100px;
    margin: 10px;
    position: relative;
    bottom: 660px;
    left:100px
}

.i11{
    height: 100px;
    width: 100px;
    margin: 10px;
    position: relative;
    bottom: 880px;
    left: 200px;
}


.galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    
}

footer{
    margin-top: 20px;
}

.imgbalao{
    margin-right: 40px;
    margin-left: 20px;
}

.imgbolo{
    margin-right: 40px;
}

